@reboot /home/hoobah/scripts/monitor_temps
@reboot /home/hoobah/scripts/check_ssh_tunnel
@reboot /home/hoobah/scripts/start_fans
* * * * * /home/hoobah/scripts/check_eth_proxy
* * * * * /home/hoobah/scripts/check_ssh_tunnel
